.card-producto{
    gap: 15px;
}

@media screen and (min-width: 440px) {
    .card-producto{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        
    }
}

@media screen and (min-width: 720px) {
    .card-producto{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        
    }
}

@media screen and (min-width: 1200px) {
    .card-producto{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        
    }
}

.card .back .card-body {
    padding-left: 15px;
    padding-right: 15px;
    background-color: rgba(119, 235, 25, 0.295);
}

/*========================================================
=                   CARRITO DE COMPRAS                   =
========================================================*/


.card-carrito{
    /* width: 85%; */
    display: flex;
    flex-direction: column;
    border-radius: inherit;
    margin: auto;
    margin-top: 20px;
    padding: 5px;
    /* background-color: rgb(236, 236, 236); */
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 10%), 0 2px 4px -1px rgb(0 0 0 / 6%);
}




/* CARD CARRITO HEAD
-------------------------------------------------- */

.carrito-card-head{
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 8px;
}


.carrito-img-prod{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5px;
    /* width: 30%; */
}

.carrito-img-prod img{
    border-radius: 20px;
    width: 130px;
    height: 130px;
    object-fit: contain;
}

.carrito-prod-desc h4, h5{
    /* color: black; */
    font-weight: 500;
    margin: 0 0 10px 0;
}

.carrito-prod-desc p{
    color: black;
    margin: 0 0 10px 0;
}

.inputPrecio{
    width: 65px;
    border: none;
    text-align: center;
}

.btnQuantity{
    margin: 0;
    border: none;
    width: 30px;
    background-color: #ffffff;
    font-weight: bold;

}

.carrito-prod-desc{
    display: inline-block;
    flex-direction: column;
    /* width: 70%; */
}

.cantidadProducto{
    height: 40px;
    /* width: max-content; */
    display: flex;
    border: solid;
    border-width: 1px;
    border-color: rgb(179 176 176);
}

.cantidad-precio{
    display: grid;
    gap: 10px;
    justify-content: left;
    align-items: baseline;
}


/* CARD CARRITO FOOTER
-------------------------------------------------- */

.carrito-card-footer{
    /* display: flex;
    gap: 10px;
    align-items: baseline; */
    margin-top: 18px;
    display: flex;
    width: 95%;
    gap: 15px;
    align-items: baseline;
    justify-content: right;
    /* justify-content: space-between; */
}

.subtotal-footer{
    font-size: 20px; 
    color:black
}

@media screen and (min-width: 510px) {
    .cantidad-precio{
        display: flex;
    
    }
}


.card-subtotal{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: inherit;
    padding: 20px;
    margin-top: 20px;
    position: sticky;
    top: 90px;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 10%), 0 2px 4px -1px rgb(0 0 0 / 6%);
    height: fit-content;
}

.card-subtotal p{
    font-size: 20px;
    color: black;
    font-weight: 500;
}

.carrito-section{
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.tittle-button{
    display: grid;
    grid-template-columns: 9fr 1fr;
    align-items: baseline;
}

.tittle-button button{
    font-size: 22px;
}

.tittle-button button:hover{
    font-size: 24px;
    color: #e91e63;
}

@media screen and (min-width: 210px) {
    .card-subtotal{
        position: sticky;
        bottom: 0;
    
    }
}

/*=============================================
=                   FAVORITOS                   =
=============================================*/

.cardContainer{
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 15px;
    border-radius: 10px;
    margin: auto;
    padding: 15px;
    background-color: white;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 10%), 0 2px 4px -1px rgb(0 0 0 / 6%);
}

/* CONTENIDO DE LA CARD
-------------------------------------------------- */

.cardContainer figure{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    
}

.cardImg{
    border-radius: 20px;
    width: 120px;
    height: 120px;
    object-fit: contain;
    -webkit-box-shadow: 0px 5px 7px 3px rgba(0,0,0,0.67); 
    box-shadow: 0px 5px 7px 3px rgba(0,0,0,0.67);
}


.cardHeader{
    display: grid;
    grid-template-columns: 9fr 1fr;
    align-items: baseline;
}

.cardHeader button{
    font-size: 25px;
    border: none;
    background-color: white;
}

.cardHeader button:hover{
    /* font-size: 24px; */
    color: #e91e63;
}

.cardDescription{
    display: flex;
    flex-direction: column;
}

.precioButton{
    display: flex;
    gap: 10px;
    align-items: baseline;
    flex-direction: column;
}

.precioButton button{
    color: #fff;
    background-color: #f14781ed;
}

.precioButton button:hover{
    color: #fff;
    font-size: 13px;
    background-color: #e91e63;
}

@media screen and (min-width: 480px) {
    .cardImg{
        width: 160px;
        height: 160px;
    }
}

/* @media screen and (min-width: 480px) {
    .cardImg{
        width: 180px;
    }
} */

/*=============================================
=                   PAYMENT                   =
=============================================*/

.containerPayment{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.datosCliente{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.inputRegistro{
    display: flex;
    flex-direction: column;
}

.inputRegistro label{
    text-transform: uppercase;
}

@media screen and (min-width: 800px) {
    .datosCliente{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
}
